@import "variable.scss";
@import url("fontawesome-all.min.css");

/*Déclarations générales des pages*/
html {
    body {
        padding: 0;
        margin: 0;
        height: 250%;
        background: $fond;
        color: $darker;
        font-family: "Stars", cursive;
    }
}

a {
    color: $rosel;
    &:hover {
        color: $turquoise;
    }
}


p {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    //border: 3px solid $btnText;
}
td {
    width: 75%;
    padding: 0.5em;
}
th {
    border-right: 3px solid $rosel;
}
tr:nth-child(odd) {
    background-color: $light;
}
tr:nth-child(even) {
    background-color: $rosepastel;
}


main {
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    margin-top: 4.5em; /* Éviter la superposition avec la barre de navigation */
    gap: 20px; /* Espacement entre les colonnes */
}

nav {
    padding-top: 10px;
    background: $rosemid;
    height: 4em;
    width: 100%;
    position: fixed;
    flex-direction: row;
    z-index: 2;
    img {
        z-index: 3;
        position: absolute;
        left: 0.5em;
        height: 3em;
        padding: 0;
    }
}

/* Styles pour le bouton burger */
.burger-container {
    display: none; /* Caché sur les grands écrans */
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 3;
}

#burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4em;
    height: 6em;
}

.burger {
    background-color: $lighter;
    height: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.navbar {
    position: relative;
    display: flex;
    list-style: none;
    flex-direction: row;
    list-style-type: none;
    float: none;
    justify-content: space-between;
}
.navbarburger {
    position: relative;
    display: none;
}



nav ul {
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    li {
        min-width: 5em;
    }
}
.liennav {
    cursor: pointer;
    margin: 20px;
    margin-right: 45px;
    font-size: larger;
    color: $lighter;
    &:hover {
        color: $turquoise;
    }
}

li {
    list-style: none;
}

.passous {
    text-decoration: none;
}

/* Article avec menu statique */
article {
    width: 20%;
    min-width: 250px;
    height: 15em;
    position: sticky;
    top: 4.5em; /* Positionner sous la barre de navigation */
    background: $rosepastel;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        li {
            padding: 0.3em;
        }

        li a {
            margin: 10px 0;
            font-size: 1em;
            color: $rosel;
            text-decoration: underline;

            &:hover {
                color: $turquoise;
                cursor: pointer;
                margin-left: 0.5em;
            }
        }
    }
    .titre h2 {
        font-size: 1.2em;
        color: $turquoise;
        margin-bottom: 10px;
    }

}

/* Section principale */
section.prod {
    width: 80%;
    padding: 20px;
    background: $lighter;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bgparent {
    position: relative;
    width: 100%;
    top: 4.5em;
    color: $rouge;
    background-image: url("../../image/Mairie_Croissy_Beaubourg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; 
}

.bgparentbis {
    background: darken($turquoise, 10%);
}

.titre h2 {
    font-size: 1.5em;
    color: $rosemid;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.titre h1 {
    font-size: 1.3em;
    color: $turquoise;
}

.centre {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;    
    background-color: rgba(233, 233, 233, 0.75);


    h2 {
        font-size: 2em;
        margin: 20px 0;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5;
        width: max-content;
    }
}

.flex-box-4, .flex-box-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-box-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    p {
        width: 100%;
    }
}
.titrage {
    display: flex;
    justify-content: center;
}


.flex-elements-4 {
    width: 22%;
    padding: 0.5em;
    h1 {
        text-align: center;
    }
}
.flex-elements-3 {
    width: 30%;
    padding: 0.5em;
    h1 {
        text-align: center;
    }
    img {
        cursor:default;
        max-height: 20em;
        max-width: 100%;
        width: fit-content;
    }
}

.flex-elements-2 {
    width: 45%;
    display: flex;
    min-height: max-content;
    justify-content: center;
    flex-wrap: wrap;
    //border-bottom-color: $btnText;
    img {
        max-height: 20em;
        max-width: 20em;
        width: fit-content;
    }
    .icon {
        color: $btnText;
        display: grid;
        justify-items: center;
    }
    /*&:nth-child(even) {
        background-color: $rosepastel;
    }*/
}
.flex-elements-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    .icon {

        color: $btnText;
    }
}
.no_justify p {
    text-align: left;
}
.service .flex-elements-2, .jobs .flex-elements-2 {
    //border-top: 3px solid $turquoise;
    //border-bottom: 3px solid $turquoise;
    padding: 0.5em;
    &:nth-child(odd) {
        border-right: 3px solid $turquoise;
    }
}
.visits .flex-elements-2 {
    border-bottom: 3px solid $turquoise;
}

.town_hall .flex-elements-4, .town_hall .flex-elements-2, .town_hall .flex-elements-1 {
    //border-bottom: 3px solid $turquoise;
    border-right: 3px solid $turquoise;
    padding: 0.5em;
}

.town_hall ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    li {
        min-width: 5em;
    }
}

/* Footer */
footer {
    background: $turquoise;
    color: $rosemid;
    padding: 20px;
    text-align: center;
    
    a {
        color: $lighter;
        &:hover {
            color: $rosel;
        }
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        padding-bottom: 10px;
        .links {
            margin: 0;
            padding: 0;
        }
    }

    section {
        flex: 1;
        text-align: center;
        max-width: 33%;
    }

    form {
        width: 100%;

        input, textarea {
            width: 75%;
            color: $lighter;
            &::placeholder {
                color: $light;
            }
        }
        textarea {
            font-size: 110%;
        }
    }

    .menu {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 10px 0;

        li {
            margin: 0 15px;
        }
    }

    .icons {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 10px 0;
        padding-bottom: 10px;

        li {
            margin: 0 10px;
            a {
                text-decoration: none;
            }
        }
    }

    .copyright {
        color: $lighter;
    }
}

/***** MEDIA QUERYS *****/

@media (max-width: 1000px) {
    .flex-elements-4 {
        width: 45%;
    }
    .flex-elements-3 {
        width: 45%;
    }
    .flex-elements-2 { 
        width: 98%;
    }
    .town_hall .flex-elements-2 {
        width: 45%;
    }
    .service .flex-elements-2, .jobs .flex-elements-2 {
        display: flow-root;
        border-bottom: 3px solid $turquoise;
        &:last-child {
            border-bottom: none;
        }
        &:first-child {
            border-top: none;
        }
        &:nth-child(odd) {
            border-right: 3px solid $turquoise;
        }
        &:nth-child(even) {
            border-left: 3px solid $turquoise;
        }
    }
}


/* Media query pour petits écrans */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Les sections s'empilent en vertical */
        text-align: center;
    }

    section {
        max-width: 100%; /* Occupe toute la largeur */
        padding: 10px 0;
    }

    .flex-elements-4 {
        width: 100%;
    }
    .flex-elements-3 {
        width: 98%;
    }
    .town_hall .flex-elements-2 {
        width: 98%;
    }
    .town_hall .flex-elements-4, .town_hall .flex-elements-2, .town_hall .flex-elements-1 {
        border-right: none;
    }
}

/* Media query pour petits écrans */
@media (max-width: 650px) {
    .burger-container, #burger-menu, .burger {
        display: block;
    }
    .navbar {
        display: none;
    }
    .navbarburger {
        display: none;
        flex-direction: column;
        top: -0.8em;
        left: 0;
        width: 100%;
        background: $rosemid;
        box-shadow: 0 2px 0px rgba(62, 186, 157, 0.5);
        li {
            width: 100%;
            margin: 0;
            padding: 1em 0;
            text-align: center;
        }
    }
    .liennav {
        margin: 0;
    }
    .navbarburger.active {
        display: flex; 
        animation: slideIn 0.3s cubic-bezier(0, 0.5, 0.1, 1);
    }
    .flex-elements-4 {
        text-align: center;
    }
    .flex-elements-2 img {
        display: none;
    }
    .img_phone_show img {
        display: flex;
    }
    .town_hall ul {
        flex-direction: column;
    }
    article {
        position: absolute;
        top: -15em;
    }
    section.prod{
        width: 100%;
    }
    footer .icons{
        flex-direction: column;
        li {
            margin-bottom: 0.5em;
        }
    }
    .fa-mouse-pointer:before {
        content:"\f25a"
    }
}
