@charset "UTF-8";
@import url("fontawesome-all.min.css");
@font-face {
  font-family: "Stars";
  src: url(Stars.ttf) format("truetype");
}
@font-face {
  font-family: "AutoShel";
  src: url(Authentic_Sheldon.ttf) format("truetype");
}
@font-face {
  font-family: "Afterglow";
  src: url(Afterglow_Regular.ttf) format("truetype");
}
.inputGroup {
  margin: 1.1em 0 0.5em 0;
  position: relative;
}

.inputGroup input, textarea {
  font-size: 100%;
  padding: 0.5em;
  padding-left: 1em;
  outline: none;
  border: 2px solid #f36e7f;
  background-color: transparent;
  border-radius: 20px;
}
.inputGroup input:hover, textarea:hover {
  border-color: #fac2ca;
}
.inputGroup input:focus, textarea:focus {
  border-color: #ff2643;
}

.inputGroup label {
  display: block;
  position: absolute;
  transform: translateY(-190%) scale(1);
  margin: 0em;
  margin-left: 3em;
  padding: 0.2em;
  background-color: #3eba9d;
}

.btn {
  padding: 0.5em 1.5em;
  font-weight: 700;
  background: #f7f7f7;
  color: #a442ff;
  cursor: pointer;
  border-radius: 0.5rem;
  border-bottom: 2px solid #a442ff;
  border-right: 2px solid #a442ff;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
}

.btn:hover {
  border-top: 2px solid #a442ff;
  border-left: 2px solid #a442ff;
  border-bottom: 2px solid #f36e7f;
  border-right: 2px solid #f36e7f;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3019607843) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/*Déclarations générales des pages*/
html body {
  padding: 0;
  margin: 0;
  height: 250%;
  background: rgba(199, 241, 237, 0.5490196078);
  color: #333333;
  font-family: "Stars", cursive;
}

a {
  color: #f36e7f;
}
a:hover {
  color: #3eba9d;
}

p {
  margin-left: 2%;
  margin-right: 2%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 75%;
  padding: 0.5em;
}

th {
  border-right: 3px solid #f36e7f;
}

tr:nth-child(odd) {
  background-color: #b0f0e1;
}

tr:nth-child(even) {
  background-color: #fac2ca;
}

main {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  margin-top: 4.5em; /* Éviter la superposition avec la barre de navigation */
  gap: 20px; /* Espacement entre les colonnes */
}

nav {
  padding-top: 10px;
  background: #f14e64;
  height: 4em;
  width: 100%;
  position: fixed;
  flex-direction: row;
  z-index: 2;
}
nav img {
  z-index: 3;
  position: absolute;
  left: 0.5em;
  height: 3em;
  padding: 0;
}

/* Styles pour le bouton burger */
.burger-container {
  display: none; /* Caché sur les grands écrans */
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 3;
}

#burger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4em;
  height: 6em;
}

.burger {
  background-color: #f7f7f7;
  height: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar {
  position: relative;
  display: flex;
  list-style: none;
  flex-direction: row;
  list-style-type: none;
  float: none;
  justify-content: space-between;
}

nav ul {
  display: flex;
  float: right;
  flex-direction: row;
  justify-content: right;
  list-style: none;
}
nav ul li {
  min-width: 5em;
}

.liennav {
  cursor: pointer;
  margin: 20px;
  margin-right: 45px;
  font-size: larger;
  color: #f7f7f7;
}
.liennav:hover {
  color: #3eba9d;
}

li {
  list-style: none;
}

.passous {
  text-decoration: none;
}

/* Article avec menu statique */
article {
  width: 20%;
  min-width: 250px;
  height: 15em;
  position: sticky;
  top: 4.5em; /* Positionner sous la barre de navigation */
  background: #fac2ca;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
article ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
article ul li {
  padding: 0.3em;
}
article ul li a {
  margin: 10px 0;
  font-size: 1em;
  color: #f36e7f;
  text-decoration: underline;
}
article ul li a:hover {
  color: #3eba9d;
  cursor: pointer;
  margin-left: 0.5em;
}
article .titre h2 {
  font-size: 1.2em;
  color: #3eba9d;
  margin-bottom: 10px;
}

/* Section principale */
section.prod {
  width: 80%;
  padding: 20px;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bgparent {
  position: relative;
  width: 100%;
  top: 4.5em;
  color: #ff2643;
  background-image: url("../../image/Mairie_Croissy_Beaubourg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.bgparentbis {
  background: #31947d;
}

.titre h2 {
  font-size: 1.5em;
  color: #f14e64;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.titre h1 {
  font-size: 1.3em;
  color: #3eba9d;
}

.centre {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: rgba(233, 233, 233, 0.75);
}
.centre h2 {
  font-size: 2em;
  margin: 20px 0;
}
.centre p {
  font-size: 1.2em;
  line-height: 1.5;
  width: max-content;
}

.flex-box-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-box-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-box-2 p {
  width: 100%;
}

.titrage {
  display: flex;
  justify-content: center;
}

.flex-elements-4 {
  width: 22%;
  padding: 0.5em;
}
.flex-elements-4 h1 {
  text-align: center;
}

.flex-elements-2 {
  width: 45%;
  display: flex;
  min-height: max-content;
  justify-content: center;
  flex-wrap: wrap;
  /*&:nth-child(even) {
      background-color: $rosepastel;
  }*/
}
.flex-elements-2 img {
  max-height: 20em;
  max-width: 20em;
  width: fit-content;
}
.flex-elements-2 .icon {
  color: #a442ff;
  display: grid;
  justify-items: center;
}

.flex-elements-1 {
  width: 99%;
}
.flex-elements-1 .icon {
  color: #a442ff;
}

.service .flex-elements-2, .jobs .flex-elements-2 {
  padding: 0.5em;
}
.service .flex-elements-2:nth-child(odd), .jobs .flex-elements-2:nth-child(odd) {
  border-right: 3px solid #3eba9d;
}

.visits .flex-elements-2 {
  border-bottom: 3px solid #3eba9d;
}

.town_hall .flex-elements-4, .town_hall .flex-elements-2, .town_hall .flex-elements-1 {
  border-right: 3px solid #3eba9d;
  padding: 0.5em;
}

.town_hall ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}
.town_hall ul li {
  min-width: 5em;
}

@media (max-width: 1000px) {
  .flex-elements-4 {
    width: 45%;
  }
  .flex-elements-2 {
    width: 98%;
  }
  .town_hall .flex-elements-2 {
    width: 45%;
  }
  .service .flex-elements-2, .jobs .flex-elements-2 {
    display: flow-root;
    border-bottom: 3px solid #3eba9d;
  }
  .service .flex-elements-2:last-child, .jobs .flex-elements-2:last-child {
    border-bottom: none;
  }
  .service .flex-elements-2:first-child, .jobs .flex-elements-2:first-child {
    border-top: none;
  }
  .service .flex-elements-2:nth-child(odd), .jobs .flex-elements-2:nth-child(odd) {
    border-right: 3px solid #3eba9d;
  }
  .service .flex-elements-2:nth-child(even), .jobs .flex-elements-2:nth-child(even) {
    border-left: 3px solid #3eba9d;
  }
}
/* Footer */
footer {
  background: #3eba9d;
  color: #f14e64;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #f7f7f7;
}
footer a:hover {
  color: #f36e7f;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 10px;
}
footer .footer-container .links {
  margin: 0;
  padding: 0;
}
footer section {
  flex: 1;
  text-align: center;
  max-width: 33%;
}
footer form {
  width: 100%;
}
footer form input, footer form textarea {
  width: 75%;
  color: #f7f7f7;
}
footer form input::placeholder, footer form textarea::placeholder {
  color: #b0f0e1;
}
footer form textarea {
  font-size: 110%;
}
footer .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 10px 0;
}
footer .menu li {
  margin: 0 15px;
}
footer .icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 10px 0;
  padding-bottom: 10px;
}
footer .icons li {
  margin: 0 10px;
}
footer .icons li a {
  text-decoration: none;
}
footer .copyright {
  color: #f7f7f7;
}

/* Media query pour petits écrans */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Les sections s'empilent en vertical */
    text-align: center;
  }
  section {
    max-width: 100%; /* Occupe toute la largeur */
    padding: 10px 0;
  }
  .flex-elements-4 {
    width: 100%;
  }
  .town_hall .flex-elements-2 {
    width: 98%;
  }
  .town_hall .flex-elements-4, .town_hall .flex-elements-2, .town_hall .flex-elements-1 {
    border-right: none;
  }
}
/* Media query pour petits écrans */
@media (max-width: 650px) {
  .burger-container, #burger-menu, .burger {
    display: block;
  }
  .navbar {
    display: none;
    flex-direction: column;
    top: -0.5em;
    left: 0;
    width: 100%;
    background: #f14e64;
    padding: 10px 0;
    box-shadow: 0 2px 0px rgba(62, 186, 157, 0.5);
  }
  .navbar li {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;
  }
  .navbar.active {
    display: flex;
    animation: slideIn 0.3s cubic-bezier(0, 0.5, 0.1, 1);
  }
  .flex-elements-4 {
    text-align: center;
  }
  .flex-elements-2 img {
    display: none;
  }
  .img_phone_show img {
    display: flex;
  }
  .town_hall ul {
    flex-direction: column;
  }
  article {
    position: absolute;
    top: -15em;
  }
  section.prod {
    width: 100%;
  }
  footer .icons {
    flex-direction: column;
  }
  footer .icons li {
    margin-bottom: 0.5em;
  }
  .fa-mouse-pointer:before {
    content: "\f25a";
  }
}

/*# sourceMappingURL=index.css.map */
