$darker: #333333;
$dark: #555555;
$rosepastel: #fac2ca;
$rosel: #f36e7f;
$rosemid: #f14e64;
$rouge: #ff2643;
$turquoise: #3eba9d;
$light: #b0f0e1;
$lighter: #f7f7f7;
$btnText: #a442ff;

$fond: #c7f1ed8c;

@font-face {
    font-family: "Stars";
    src: url(Stars.ttf) format("truetype");
}

@font-face {
    font-family: "AutoShel";
    src: url(Authentic_Sheldon.ttf) format("truetype");
}

@font-face {
    font-family: "Afterglow";
    src: url(Afterglow_Regular.ttf) format("truetype");
}

#contact-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.inputGroup {
    margin: 1.1em 0 0.5em 0;
    position: relative;
}
.inputForm {
    padding: 0.2em;
}

.inputGroup input, .inputForm input, select, textarea {
    font-size: 100%;
    padding: 0.5em;
    padding-left: 1em;
    outline: none;
    border: 2px solid $rosel;
    background-color: transparent;
    border-radius: 20px;
    resize: vertical;
    &:hover {
        border-color: $rosepastel;
    }
    &:focus {
        border-color: $rouge;
    }
}
.inputForm input, .inputForm select, .inputForm textarea {
    width: -webkit-fill-available;
    background-color: #FFFFFF;
    &:valid {
        border-color: $turquoise;
    }
    resize: vertical;
}

.inputForm label {
    color: $rosemid;
}

.inputGroup label {
    display: block;
    position: absolute;
    transform: translateY(-190%) scale(1);
    margin: 0em;
    margin-left: 3em;
    padding: 0.2em;
    background-color: $turquoise;
}

.btn {
    padding: 0.5em 1.5em;
    font-weight: 700;
    background: #FFFFFF;
    color: $btnText;
    cursor: pointer;
    border-radius: 0.5rem;
    border-bottom: 2px solid $btnText;
    border-right: 2px solid $btnText;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
}

.btn:hover {
    border-top: 2px solid $btnText;
    border-left: 2px solid $btnText;
    border-bottom: 2px solid $rosel;
    border-right: 2px solid $rosel;
    box-shadow:
        #f02eaa66 5px 5px,
        #f02eaa4d 10px 10px,
        #f02eaa33 15px 15px;
}


@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}